#ltnSidebar {
  background: var(--sidebar-background)!important;
  color: var(--in-content-page-color)!important
}
.minimonth-nav-btns .toolbarbutton-icon {
  filter: invert(65%)
}
.tree-rows {
  background-color: #1f2022!important
}
.calendar-sidebar-splitter {
  background: #000!important
}
.calendar-splitter[orient=vertical] {
  background: #202020!important;
  border-color: #0c0c0c!important
}
#view-deck {
  background-color: #1c1b19!important;
  border-width: 0!important
}
#calendar-nav-control {
  background: #3f3f3e!important;
  --calview-tabline-color: #204E8A!important;
  --calview-border-color: #313131!important;
  --calview-border-bottom-color: #313131!important
}
.view-header {
  color: var(--in-content-page-color)!important
}
.navigation-bottombox {
  background-color: #595958!important
}
tab[calview] {
  color: var(--in-content-link-color)!important;
  padding-top: 4px
}
tab[calview][selected=true] {
  background-color: #595958!important;
  color: #fff!important
}
.today-navigation-button,
.view-navigation-button {
  -moz-appearance: none!important;
  background-color: #6d6c6b!important;
  border-radius: 6px;
  fill: var(--in-content-page-color)!important;
  margin: 3px!important;
  color: var(--in-content-page-color)!important
}
#today-splitter {
  border-color: #000!important
}
#task-addition-box,
#unifinder-searchBox {
  background: #38383b!important;
  color: var(--in-content-page-color)!important;
  border-color: #000!important
}
.searchBox {
  background: var(--in-content-box-background)!important;
  color: var(--in-content-page-color)!important
}
#agenda-panel:-moz-lwtheme > vbox,
#today-pane-splitter:-moz-lwtheme,
#todo-tab-panel:-moz-lwtheme {
  background-color: var(--in-content-box-background)!important;
  color: var(--in-content-page-color)!important
}
#unifinder-task-edit-field,
#view-task-edit-field {
  background: var(--in-content-box-background)!important;
  color: var(--in-content-page-color)!important;
  -moz-appearance: none!important
}
#calendar-task-tree-detail {
  border-color: #000!important
}
.toolbarbutton-1.msgHeaderView-button {
  border: 1px solid var(--toolbarbutton-header-bordercolor);
  background: var(--toolbarbutton-hover-background);
  color: #fff!important
}
.task-details-value {
  color: #fff!important
}
#calendar-task-details-container {
  background: #38383b!important
}
.main-header-area {
  border-color: #000!important
}
#calendar-task-details-description {
  -moz-appearance: none!important;
  background: var(--in-content-box-background)!important;
  color: var(--in-content-page-color)!important;
  border-color: var(--in-content-box-border-color)!important
}
#mini-day-image,
#today-pane-panel:-moz-lwtheme > vbox {
  background: #38383b!important;
  color: var(--in-content-page-color)!important
}
#agenda-toolbar {
  background: var(--in-content-box-background)!important;
  color: var(--in-content-page-color)!important
}
.today-subpane {
  border-bottom-color: #000!important
}
#todaypane-new-event-button .toolbarbutton-icon,
.miniday-nav-buttons {
  filter: invert(55%)
}
#agenda-listbox {
  border-top-color: #000!important;
  background: #2c2d2f!important;
  color: var(--in-content-page-color)!important
}
.agenda-checkbox[selected=true] {
  background: #204e8a!important;
  color: #fff!important
}