menupopup,
menupopup > menu > menupopup,
menupopup scrollbox,
popup,
popup > menu > menupopup {
  -moz-appearance: none!important;
  background: #373737!important;
  border: none!important;
  padding: 0!important;
  border-radius: 2px!important
}
menupopup,
menupopup > menu > menupopup,
popup,
popup > menu > menupopup {
  border: 1px solid #4d5157!important
}
menu.subviewbutton > .menu-right {
  fill: #000!important
}
.menu-right {
  filter: invert(95%)!important
}
#context-navigation menuitem,
.panel-arrowcontent {
  color: #fff!important;
  background: #373737!important
}
#context-navigation menuitem:hover,
.splitmenu-menuitem:hover {
  background: #2059c9!important
}
.splitmenu-menuitem,
menuitem,
menupopup menu {
  -moz-appearance: none!important;
  color: #fff!important;
  background: #373737!important
}
menupopup menuseparator {
  -moz-appearance: none!important;
  padding: 1px!important;
  margin: 5px 0!important;
  background: #5a5a5a!important;
  border-top: none!important
}
#context-navigation menuitem[disabled=true],
menu[disabled=true],
menuitem[disabled=true] {
  color: #acaeb2!important
}
menu[disabled=true]:hover,
menuitem:hover[disabled=true] {
  color: #acaeb2!important;
  background-color: #373737!important
}
#context-navigation menuitem:hover[disabled=true] {
  color: #737373!important;
  background-color: #373737!important
}
menuitem[_moz-menuactive=true],
menupopup menu[_moz-menuactive=true] {
  color: #fff!important;
  background-color: #2059c9!important
}
#_testpilot-containers_7 .menu-iconic-left,
#treestyletab_piro_sakura_ne_jp_8 .menu-iconic-left {
  filter: invert(55%)!important
}