@-moz-document url(chrome://messenger/content/glodaFacetView.xhtml) {
  /*! Sidebar */
.facets-sidebar {
    background-color: var(--sidebar-background)!important;
    color: #fff!important
  }
  .bar,
  .barry {
    border-color: transparent!important
  }
  .bar-count {
    color: #919293!important
  }
  .bar-link {
    color: #4a7dc2!important
  }
  /*! Main Content */
#table {
    background: #303237!important;
    color: #fff!important
  }
  #date-toggle {
    fill: #32497a!important
  }
  #date-toggle:hover {
    background-color: #32497a!important;
    fill: #fff!important
  }
  .message .message-subject {
    color: #4a7dc2!important
  }
  .message .message-subject:focus,
  .message .message-subject:hover {
    background-color: #32497a!important;
    padding: 2px;
    border-radius: 2px;
    color: #fff!important
  }
  .message {
    background: #1f2023!important;
    margin-bottom: 10px;
    border-color: #18191c!important;
    padding: 8px!important
  }
  .message:hover {
    border: 4px solid #466388!important;
    box-shadow: none!important;
    border-radius: 0
  }
  .message,
  .message-author,
  .message-body,
  .message-date,
  .message-recipients {
    color: #fff!important
  }
  .message-body-fulltext-match {
    background-color: #32497a!important;
    padding: 1px 4px
  }
  .show-more {
    background-color: #666568!important;
    border-radius: 4px!important
  }
}