@-moz-document url-prefix(about:blank) {
  html {
    background: #1f2022!important
  }
}
@-moz-document regexp("^about:(?!reader).*"),
url(https://www.mozilla.org/credits/),
url-prefix(https://discovery.addons.mozilla.org) {
  :root {
    --aboutProfiles-table-background: var(--in-content-box-background)!important
  }
  menupopup,
  menupopup > menu > menupopup,
  popup,
  popup > menu > menupopup {
    -moz-appearance: none!important;
    background: var(--in-content-box-background)!important;
    border: none!important;
    padding: 0!important
  }
  menuitem,
  menupopup menu {
    -moz-appearance: none!important;
    color: var(--in-content-selected-text)!important
  }
  menuitem:hover,
  menupopup menu:hover {
    color: var(--in-content-text-color)!important;
    background-color: var(--in-content-primary-button-background-hover)!important
  }
  menupopup menuseparator {
    padding: 0!important;
    margin: 2px 6px!important;
    -moz-appearance: none!important;
    background: rgba(0,0,0,0)!important;
    border: 0!important
  }
  @media screen and (-moz-windows-theme) {
    menuitem,
    menupopup menu {
      margin: 1px 6px!important
    }
    menupopup,
    menupopup > menu > menupopup,
    popup,
    popup > menu > menupopup {
      border: 1px solid!important;
      border-color: var(--in-content-box-background)!important
    }
  }
  #action-box,
  #badCertAdvancedPanel,
  #content div.log span.section-heading button.no-print:hover,
  #content div.stats span.section-heading button.no-print:hover,
  #contents table tbody tr td,
  #contents table tr.no-copy td,
  #controls.no-print div.controls div.control button:hover,
  #errorPageContainer button#errorTryAgain:hover,
  #header-utils-btn[open=true],
  #profiles table,
  #provider table#provider-table tbody#provider-table-body tr td,
  #subprocess-reports tr td,
  .aboutPageWideContainer div#debug table#debug-table tbody tr td,
  .aboutPageWideContainer label input#submit:hover {
    background-color: var(--in-content-box-background)!important
  }
}
@-moz-document url-prefix(about:memory) {
  .legend,
  .opsRowLabel,
  .section,
  .treeline {
    color: var(--in-content-page-color)!important
  }
}